---
layout: default
title: 我的博客
---

<a href=""></a><br />
<a href=""></a>
<ul>
    <li>
        {{ post.date | date_to_string }} <span class="jiantou">>></span>
        <a href="tmall/index.html">点此进入电商页面</a>
    </li>
    <li>
        {{ post.date | date_to_string }} <span class="jiantou">>></span>
        <a href="jstimer.html">10000小时计划</a>
    </li>
    {% for post in site.posts %}
    <li>
        {{ post.date | date_to_string }} <span class="jiantou">>></span> 
	    <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
    </li>
    {% endfor %}
</ul>

{% for category in site.categories %}
<h3>{{ category | first }}</h3>
<span>{{ category | last | size }}</span>
<ul class="arc-list">
    {% for post in category.last %}
        <li>
            {{ post.date | date:"%d/%m/%Y"}}
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
</ul>
{% endfor %}
